@page
@model Ceramics.Pages.Warehouses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WarehouseLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseLocation.ChemID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseLocation.ChemID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseLocation.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseLocation.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseLocation.WarehouseLocationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseLocation.WarehouseLocationID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WarehouseLocation.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
