@page
@model Ceramics.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Orders</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].MembershipStat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipStat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.ColorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstMidName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
