@page
@model Ceramics.Pages.Customers.Colors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Colors</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color[0].ColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color[0].ColorFamID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Color[0].ColorFamName)
            </th>







            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Color) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorFamID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ColorFamName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ColorID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ColorID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ColorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
